{% extends 'layout.html' %}
{% load static %}


{% block page %}

<div class="grid-container">
    <div class="menu-grid">
        <div class="menu_field">
            <div class="menu">
                <a href="">
                    <div class="menu_button">
                        <p class="menu_button" style="color: #a728e6;">Main</p>
                    </div>
                </a>
                <a href="">
                    <div class="menu_button">
                        <p class="menu_button">Discounts</p>
                    </div>
                </a>
                    <a href="">
                        <img src="{% static 'img/clarity_airplane-solid.png' %}" alt="plane">
                    </a>
                <a href="">
                    <div class="menu_button">
                        <p class="menu_button">Shop</p>
                    </div>
                </a>
                <a href="">
                    <div class="menu_button">
                        <p class="menu_button">Contacts</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="best"></div>
    <div class="proc"></div>
    <div class="fut"></div>
  </div>

{% endblock %}
